body 
	font-size: 40px
	font-family: Anaktoria, serif
	text-align: center
	min-height: 100vh

.main
	background-image: url(/assets/img/rainbowsparkles.gif)

.emo 
	background-image: url(/assets/img/emoangel.jpg)
	background-repeat: no-repeat
	background-position: left bottom
	background-size: 60%
	background-color: #000 
	background-attachment: fixed

h1
	background-color: #7E3BC5

h2 
	background: url(/assets/img/starsinblack.gif)
	color: #EA55EA 

.weedbar
	height: 55px 
	border: 0
	background-image: url(/assets/img/weedbar.gif)
	background-repeat: round 

.text-color
	color: #7E3BC5