<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
     <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/anaktoria-textfonts" type="text/css"/> 
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="main">
    {{ content}} 
  </body>
</html>
